name: Docker Image Build and Push

on:
  push:
    branches: [ "main" ]
    paths:
      - 'Dockerfile'
      - 'start.sh'
      - 'DSSettings.txt'
  workflow_dispatch:
  repository_dispatch:
    types: [steamcmd-wine-updated]

jobs:
  echo-base-update:
    if: github.event_name == 'repository_dispatch'
    runs-on: ubuntu-latest
    steps:
      - name: Echo base image update
        run: echo "Base image steamcmd-wine has been updated, triggering rebuild of starrupture. ImageID ${{ github.event.client_payload.imageid }} Digest ${{ github.event.client_payload.digest }}"
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      -
        name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
          
      -
        name: Login to Github Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}
          
      - 
        name: Set up QEMU
        uses: docker/setup-qemu-action@v3
        
      - 
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
        
      -
        name: Build and push
        uses: docker/build-push-action@v6
        with:
          platforms: linux/amd64
          push: true
          tags: |
            rhavinx/starrupture:latest
            ghcr.io/rhavinx/starrupture:latest
